.list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.listItem {
  width: 45%;
  font-size: 20px;
  line-height: 30px;
  color: #2d2f30;
  padding: 0 20px 0 30px;
  margin-bottom: 30px;
  position: relative;
  box-sizing: border-box;
}

.listItem:nth-child(even) {
  padding-right: 0;
}

.listItem::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 20px;
  background-image: url(../../public/images/bolt.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 601px) {
  .listItem {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
